{% extends '::base.html.twig' %}
{% block body %}

{% block sidemenu %} {{ parent() }} {% endblock sidemenu %}
{% block content %}
<center>
<h2>{{ message }}</h2>
return to multimedia page -><a href="{{path('multimedia_index')}}"> LINK </a>


{% endblock content %}
{% endblock %}
{% block javascripts %}
<script>
$('#homelink').addClass('selected')
</script>
{% endblock %}
