{% extends '::base.html.twig' %}
{% block body %}

{% block sidemenu %} {{ parent() }} {% endblock sidemenu %}
{% block content %}
<center>
<h1>LOGIN</h1>

<form action="{{ path('login_check') }}" method="post">
  <table>
    <tr>
    <td><label for="username">Username:</label></td>
    <td><input type="text" id="username" name="_username" value="{{ last_username }}" /></td>
    </tr>
    <tr>
    <td><label for="password">Password:</label></td>
    <td><input type="password" id="password" name="_password" /></td>
    </tr>

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
<tr>
    <td colspan="2"><center><button type="submit">login</button></center></td>
</tr>
{% if error %}
    <div class="errorMessage">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<center>
{% endblock content %}
{% endblock %}
{% block javascripts %}
<script>
$('#loginlink').addClass('selected')
</script>
{% endblock %}
